$primary: #006ad0;
$primary-hover: lighten(desaturate($primary, 10%), 10%);
$secondary: lighten(desaturate($primary, 100%), 50%);

$text: #3b4351 !important;
$dark: #3b4351;

$toolbars: #edece8;
$inputs: #bcc3ce;

$yellow-hover: #fff9c4;

$orange-500: #ffca28;

$notMystat: #d32f2f;
