$primary: #006ad0;
$secondary: lighten(desaturate(#006ad0, 100%), 40%);

$text: #3b4351 !important;
$dark: #3b4351;

$toolbars: #edece8;
$inputs: #bcc3ce;

$yellow-hover: #fff9c4;

$orange-500: #ffca28;

$notMystat: #d32f2f;
