@use "abstracts/color";
@use "abstracts/style";
@use "abstracts/include";

html main.content .homeWorks {
  padding: 3rem !important;
  margin: 0 !important;
  top: 0 !important;

  .tabs-global {
    margin-bottom: 1rem;
  }

  .custom-height-table-wrap .table-wrapper {
    max-height: 100%;
  }

  .table-wrapper.presents {
    // important so the sticky works
    overflow: unset !important;
  }

  .home_work-table {
    min-width: auto;

    thead {
      position: sticky;
      z-index: 2;
      top: 3rem;

      // &:after {
      //   display: block;
      //   content: "";
      //   width: 100vw;
      //   height: 1px;
      //   border-bottom: 1px solid #00000029;
      //   position: absolute;
      //   left: -3rem;
      //   bottom: 0px;
      // }
      @include include.thead-after;
    }

    .student-name {
      font-weight: 700;
    }

    .hw_buttons.hw_checked {
      // background-color: color.$secondary;
      color: color.$dark;
      background-color: transparent;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .hw_buttons.hw_overdue.automark {
      border: none;
      background: none;
      color: red;
    }

    .hw_buttons.hw_not-loaded {
      background: none;
      border: none;

      &:before {
        content: "—";
        color: color.$text;
      }

      .hw_pencil-icon.ng-scope {
        display: none;
      }
    }

    .dz_teach-buttons {
      .dz_download-cvg {
        // opacity: 0.1;
        // filter: grayscale(100%);
        display: none;
      }

      [ng-click="deleteHomeworkTeach(domzad_teach.id_domzad)"] {
        // visibility: hidden;
        display: none;
      }

      &:hover {
        .dz_download-cvg,
        [ng-click="deleteHomeworkTeach(domzad_teach.id_domzad)"] {
          // visibility: visible;
          // opacity: 1;
          // filter: none;
          display: block;
          height: 1rem;
        }

        // .dz_download-wrap {
        //   // margin-left: -10ch;
        // }

        .dz_download-wrap:before {
          // margin-top: -3.5rem;
          display: none;
        }

        .dz_download-wrap:after {
          visibility: visible;
        }
      }
    }

    .dz_download-wrap {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-right: 0;

      &:before {
        content: attr(aria-label);
        max-width: 10ch;
        height: 1rem;
        line-height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
      &:after {
        content: "|";
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        visibility: hidden;
      }
    }

    // message icon - TODO: simplify icon
    .hw_massage-svg {
      filter: invert(1) opacity(0.6);
      bottom: auto;
      right: auto;
      position: relative;
    }
  } // end of .home_work-table

  .homework_filters {
    gap: 2rem;
    margin-bottom: 1rem;

    md-select {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .works {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:before {
      content: "Legenda: ";
    }

    .tested-w {
      order: 1;

      &:before {
        content: "12";
        font-weight: bold;
        // background-color: color.$dark;
        // border: color.$dark;
        background-color: transparent;
        border: none;
        top: 0;
      }
    }

    .no_before {
      order: 2;
      .small_icon {
        // message icon 2 - TODO: simplify icon
        filter: invert(1) saturate(0) brightness(0.6);
      }
    }

    .blocked-w {
      order: 3;

      &:before {
        content: "—";
        background-color: transparent;
        border: none;
        top: 0;
      }
    }

    div {
      order: 50;
      margin-bottom: 0;
      margin-right: 0;
    }

    .page_picker.hometask_nav {
      order: 99;
      top: 0;
      margin-top: 0 !important;
    }
  }

  .inputs {
    margin-bottom: 3rem;
  }

  button[ng-click="getGroups()"] {
    text-transform: none;
    background-color: color.$secondary !important;
    font-size: 1rem;
    color: color.$text;
  }

  .number {
    position: relative;
  }

  .presents .table td i.user-photo {
    span {
      display: block;
      width: 30px;
      height: 30px;
      max-width: 30px;
      max-height: 30px;
      left: 0;
      border-radius: 100%;
      padding: 0;
      top: 0;
      margin-top: 0;

      img {
        width: 30px;
        left: 0;
      }
    }

    &:hover {
      span {
        top: -100%;
        margin-top: 0.25rem;
        left: -100%;
        max-width: 5rem;
        max-height: 5rem;
        padding: 0;
        margin-left: 0.5rem;
        width: 5rem;
        height: 5rem;

        img {
          width: -webkit-fill-available;
          height: -webkit-fill-available;
          max-height: -webkit-fill-available;
          object-fit: cover;
          left: 0;
          top: 0;
          bottom: auto;
        }
        [src="https://logbook.itstep.org/img/avatarka.svg"]
        {
          display: none;
        }
      }
    }
  }
} // end of homeworks

html .md-dialog-container {
  .hw-md_single_stud-work__answer-text {
    margin-bottom: 1rem;
  }

  .hw-md_single_teacher__file-wrap {
    box-sizing: border-box;
    left: 2px;
    width: 100%;
    background-color: rgba(color.$toolbars, 0.1);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .hw-md_single_teacher__file-count__wrap {
    width: 100%;
    top: auto;
    bottom: 2.5rem;
    z-index: 2;
    padding-right: 0;
    right: 0.5rem;
    pointer-events: none;
  }

  .hw-md__tabs_modal {
    .tab {
      gap: 0.5rem;

      &.active {
        &:before {
          // background-color: color.$primary;
          display: none;
        }
      }
    }

    ul a {
      margin-bottom: 0;

      &.active {
        color: color.$primary;
        font-weight: 600;
      }
    }

    .hw-md_subtitle {
      font-size: 0.8rem;
    }
  }

  .hw-md_stud-work__wrap,
  .hw-md_single_stud-work__outer {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 1rem;
  }

  .hw-md_single_stud-work__download-wrap,
  .hw-md_stud-work__download-wrap {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    margin-left: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    &:before {
      content: "Stáhnout ";
      color: color.$primary;
      margin-right: 0.2rem;
    }

    &:hover {
      border-radius: style.$border-radius;
      background-color: rgba(color.$primary, 10%);
      cursor: pointer;
    }
  }

  .hw-md_single_stud-work__download,
  .hw-md_single .hw-md_stud-work__download,
  &.home_work_modal .hw-md_stud-work__download {
    margin: 0 !important;
    // margin-left: 0.2rem !important;
    // margin-right: 0.2rem !important;
    width: auto;
    height: 0.9rem;
    filter: saturate(0.8);
  }

  .hw-md_stud-work__date-pair {
    display: none;
  }

  .hw-md_theme__item .bold,
  .hw-md_single_theme__item .bold,
  .hw-md_stud-work__title.bold,
  .hw-md_stud-work__date-title.bold,
  .hw-md_single_stud-work__title.bold,
  .hw-md_single_stud-work__date-download.bold {
    font-weight: 400 !important;
  }

  .hw-md_single_stud-work__answer-text {
    margin-top: 1rem !important;
    padding: 1rem;
    background-color: rgba(color.$toolbars, 0.3);
    border-radius: style.$border-radius;
  }

  .hw-md_stud__group {
    margin-top: 0 !important;
    color: color.$text;
  }

  .hw-md_stud-work__date {
    color: color.$text;
    margin: 0 !important;
    margin-left: 1ex !important;
  }
  .hw-md_single_stud-work__date-download .color-grey {
    color: color.$text;
    margin: 0 !important;
    margin-left: 1ex !important;
  }
  .hw-md_theme__item .hw-md_theme,
  .hw-md_single_theme__item .hw-md_single_theme {
    color: color.$text;
    margin: 0 !important;
    margin-left: 1ex !important;
  }
}

body {
  .hw-md_single__btn-wrap .hw-md_single__btn span {
    padding: 0;
    font-size: 1rem;
  }
  .hw-md_single .btn span {
    background-color: color.$primary;
  }

  .hw-md_single__btn-wrap md-dialog .btn {
    background-color: color.$primary !important;
  }

  .hw-md_single__select-mark .md-button {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 0;
  }

  .hw-md_single__select-mark .md-checked .md-button {
    background-color: color.$primary;
    border-color: color.$primary;
  }

  .hw-md_single__select-mark md-radio-button .md-button {
    border: 1px solid color.$secondary;
    border-right: none;
  }

  .hw-md_single__select-mark md-radio-button:first-child .md-button {
    border-top-left-radius: style.$border-radius;
    border-bottom-left-radius: style.$border-radius;
  }

  .hw-md_single__select-mark md-radio-button:last-child .md-button {
    border-top-right-radius: style.$border-radius;
    border-bottom-right-radius: style.$border-radius;
    border-right: 1px solid color.$secondary;
  }
}
