@use "abstracts/color";
@use "abstracts/style";
@use "abstracts/include";
@use "abstracts/animations";

html main.content .homeWorks {
  padding: 3rem !important;
  margin: 0 !important;
  top: 0 !important;

  .tabs-global {
    margin-bottom: 1rem;
  }

  .custom-height-table-wrap .table-wrapper {
    max-height: 100%;
  }

  .table-wrapper.presents {
    // important so the sticky works
    overflow: unset !important;
  }

  .home_work-table {
    min-width: auto;

    thead {
      position: sticky;
      z-index: 2;
      top: 3rem;

      // &:after {
      //   display: block;
      //   content: "";
      //   width: 100vw;
      //   height: 1px;
      //   border-bottom: 1px solid #00000029;
      //   position: absolute;
      //   left: -3rem;
      //   bottom: 0px;
      // }
      @include include.thead-after;
    }

    .student-name {
      font-weight: 700;
    }

    .hw_buttons.hw_checked {
      // background-color: color.$secondary;
      color: color.$dark;
      background-color: transparent;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .hw_buttons.hw_overdue.automark {
      border: none;
      background: none;
      color: red;
    }

    .hw_buttons.hw_not-loaded {
      background: none;
      border: none;

      &:before {
        content: "—";
        color: color.$dark !important;
      }

      .hw_pencil-icon.ng-scope {
        display: none;
      }
    }

    .dz_teach-buttons {
      .dz_download-cvg {
        // opacity: 0.1;
        // filter: grayscale(100%);
        display: none;
      }

      [ng-click="deleteHomeworkTeach(domzad_teach.id_domzad)"] {
        // visibility: hidden;
        display: none;
      }

      &:hover {
        .dz_download-cvg,
        [ng-click="deleteHomeworkTeach(domzad_teach.id_domzad)"] {
          // visibility: visible;
          // opacity: 1;
          // filter: none;
          display: block;
          height: 1rem;
        }

        // .dz_download-wrap {
        //   // margin-left: -10ch;
        // }

        .dz_download-wrap:before {
          // margin-top: -3.5rem;
          display: none;
        }

        .dz_download-wrap:after {
          visibility: visible;
        }
      }
    }

    .dz_download-wrap {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-right: 0;

      &:before {
        content: attr(aria-label);
        max-width: 10ch;
        height: 1rem;
        line-height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
      &:after {
        content: "|";
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        visibility: hidden;
      }
    }

    // message icon - TODO: simplify icon
    .hw_massage-svg {
      filter: invert(1) opacity(0.6);
      bottom: auto;
      right: auto;
      position: relative;
    }
  } // end of .home_work-table

  .homework_filters {
    gap: 2rem;
    margin-bottom: 1rem;

    md-select {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .works {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:before {
      content: "Legenda: ";
    }

    .tested-w {
      order: 1;

      &:before {
        content: "12";
        font-weight: bold;
        // background-color: color.$dark;
        // border: color.$dark;
        background-color: transparent;
        border: none;
        top: 0;
      }
    }

    .no_before {
      order: 2;
      .small_icon {
        // message icon 2 - TODO: simplify icon
        filter: invert(1) saturate(0) brightness(0.6);
      }
    }

    .blocked-w {
      order: 3;

      &:before {
        content: "—";
        background-color: transparent;
        border: none;
        top: 0;
      }
    }

    div {
      order: 50;
      margin-bottom: 0;
      margin-right: 0;
    }

    .page_picker.hometask_nav {
      order: 99;
      top: 0;
      margin-top: 0 !important;
    }
  }

  .inputs {
    margin-bottom: 3rem;
  }

  button[ng-click="getGroups()"] {
    text-transform: none;
    background-color: color.$secondary !important;
    font-size: 1rem;
    color: color.$dark !important;
  }

  .number {
    position: relative;
  }

  .presents .table td i.user-photo {
    span {
      display: block;
      width: 30px;
      height: 30px;
      max-width: 30px;
      max-height: 30px;
      left: 0;
      border-radius: 100%;
      padding: 0;
      top: 0;
      margin-top: 0;

      img {
        width: 30px;
        left: 0;
      }
    }

    &:hover {
      span {
        top: -100%;
        margin-top: 0.25rem;
        left: -100%;
        max-width: 5rem;
        max-height: 5rem;
        padding: 0;
        margin-left: 0.5rem;
        width: 5rem;
        height: 5rem;

        img {
          width: -webkit-fill-available;
          height: -webkit-fill-available;
          max-height: -webkit-fill-available;
          object-fit: cover;
          left: 0;
          top: 0;
          bottom: auto;
        }
        [src="https://logbook.itstep.org/img/avatarka.svg"]
        {
          display: none;
        }
      }
    }
  }
} // end of homeworks

html .md-dialog-container {
  .hw-md_single__back img {
    user-select: none;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    animation: fadeIn 1.6s forwards 0.1s;
  }
  .hw-md_single_teacher__file-download {
    user-select: none;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    animation: fadeIn 1.6s forwards 0.1s;
  }

  .hw-md_single__btn-wrap .hw-md_single_btn-delete {
    margin-left: -0.4rem;
  }

  .flex-center.hw-md_single_btn-delete {
    user-select: none;
    opacity: 0;
    animation: fadeIn 1.6s forwards 0.1s;
    transition: all 0.3s;
    // padding: 1rem;
    // margin-left: -1rem;
    // border-radius: 5px;
    // background: red;

    padding: style.$button-padding;
    border-radius: style.$border-radius;

    &:hover {
      background: color.$red-hover;
    }

    @include include.add-focus;
  }

  .hw-md_single_stud-work__answer-text {
    margin-bottom: 1rem;
    // display as pre
    white-space: pre-wrap;

    a {
      text-decoration: none;
      color: color.$primary;
      color: #0060df;
      &:hover {
        text-decoration: underline;
      }
    }

    &:empty {
      display: none;
    }
  }

  .hw-md_single_teacher__file-wrap {
    box-sizing: border-box;
    left: 2px;
    width: 100%;
    background-color: rgba(color.$toolbars, 0.1);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    label.flex-center {
      &:hover {
        .hw-md_single_teacher__file-download {
          filter: saturate(0.5);
        }
      }

      .hw-md_single_teacher__file {
        user-select: none;
        color: color.$primary;
      }
    }
  }
  .hw-md_single_teacher__file-count__wrap {
    width: 100%;
    top: auto;
    // bottom: 2.5rem;
    bottom: 1rem;
    z-index: 2;
    padding-right: 0;
    right: 0.5rem;
    pointer-events: none;
  }

  .hw-md__tabs_modal {
    .tab {
      gap: 0.5rem;

      &.active {
        &:before {
          // background-color: color.$primary;
          display: none;
        }
      }
    }

    ul a {
      margin-bottom: 0;

      &.active {
        color: color.$primary;
        font-weight: 600;
      }
    }

    .hw-md_subtitle {
      font-size: 0.8rem;
    }
  }

  .hw-md_single_stud-work__outer {
    margin-bottom: 1rem;

    // if has no file
    .flex-center {
      visibility: hidden;
    }

    // if has file
    .flex-center:has(div) {
      visibility: visible;
    }
  }

  .hw-md_stud-work__wrap,
  .hw-md_single_stud-work__outer {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 1rem;
  }

  .hw-md_single_stud-work__download-wrap,
  .hw-md_stud-work__download-wrap {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    margin-left: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    &:before {
      content: "Stáhnout ";
      color: color.$primary;
      margin-right: 0.2rem;
    }

    &:hover {
      border-radius: style.$border-radius;
      background-color: rgba(color.$primary, 10%);
      cursor: pointer;
    }
  }

  .hw-md_single_stud-work__download,
  .hw-md_single .hw-md_stud-work__download,
  &.home_work_modal .hw-md_stud-work__download {
    margin: 0 !important;
    // margin-left: 0.2rem !important;
    // margin-right: 0.2rem !important;
    width: auto;
    height: 0.9rem;
    filter: saturate(0.8);
  }

  .hw-md_stud-work__date-pair {
    display: none;
  }

  .hw-md_theme__item .bold,
  .hw-md_single_theme__item .bold,
  .hw-md_stud-work__title.bold,
  .hw-md_stud-work__date-title.bold,
  .hw-md_single_stud-work__title.bold,
  .hw-md_single_stud-work__date-download.bold {
    font-weight: 400 !important;
  }

  .hw-md_single_stud-work__answer-text {
    margin-top: 1rem !important;
    padding: 1rem;
    background-color: rgba(color.$toolbars, 0.3);
    color: #000;
    border-radius: style.$border-radius;
  }

  .hw-md_stud__group {
    margin-top: 0 !important;
    color: color.$dark !important;
  }

  .hw-md_stud-work__date {
    color: color.$dark !important;
    margin: 0 !important;
    margin-left: 1ex !important;
  }
  .hw-md_single_stud-work__date-download .color-grey {
    color: color.$dark !important;
    margin: 0 !important;
    margin-left: 1ex !important;
  }
  .hw-md_theme__item .hw-md_theme,
  .hw-md_single_theme__item .hw-md_single_theme {
    color: color.$dark !important;
    margin: 0 !important;
    margin-left: 1ex !important;
  }

  .hw-md_single__back {
    cursor: pointer;
  }

  &#myDialog.home_work_modal {
    md-dialog .btn span {
      background-color: transparent;
    }

    .hw-md__tabs_modal ul a {
      font-size: 1rem;
    }
    .hw-md__tabs_modal ul a.active {
      color: color.$primary;

      &:before {
        background-color: color.$primary;
      }
    }
  }

  .hw-md_single_btn-delete {
    cursor: help;
    transition: filter 0.3s;
    filter: brightness(1);
    &:hover {
      filter: brightness(1.5);
    }
  }
}

#myDialog.md-dialog-container.home_work_modal .hw-md_item {
  margin-bottom: 3rem;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    // width: calc(100% + 3rem);
    width: 100%;
    height: 1px;
    // background-color: #dadee4;
    background-color: rgba(0, 0, 0, 0.03);
    // margin-top: 1rem;
    // margin-left: -1.5rem;
    // margin-right: -1.5rem;
    // bottom: 1rem;
    bottom: -1.5rem;
    left: 0;
  }

  hr {
    display: none;
  }
}

// TODO: reworked buttons to be bigger and more visible
#myDialog.md-dialog-container.home_work_modal .hw-better-buttons,
md-dialog-content.hw-md_single__content.hw-better-buttons {
  // remove unnecessary titles as buttons can do the same
  .hw-md_stud-work__title,
  .hw-md_single_stud-work__title {
    display: none;
  }

  .hw-md_stud-work__wrap,
  .hw-md_single_stud-work__outer {
    column-gap: 1rem;
  }

  .hw-md_single_stud-work__outer {
    margin-top: 0.5rem;
    align-items: start;
  }

  .hw-md_stud-work__date-wrap {
    display: flex;
    align-items: center;
  }

  // style as big buttons
  .hw-md_stud-work__download-wrap,
  .hw-md_single_stud-work__download-wrap {
    // background-color: color.$primary;
    // color: #fff;
    // border-radius: style.$border-radius;
    // border: 1px solid color.$primary;
    // padding: 0.5rem 1rem;
    // line-height: 1;
    // font-size: 1rem;
    // width: 100%;

    &:before {
      display: none;
    }
  }
  .hw-md_single_stud-work__download-wrap {
    @include include.button-primary;
    // margin-bottom: 0.5rem;
  }

  .hw-md_stud-work__download-wrap {
    @include include.button-secondary;
    padding: 0.5rem 1rem;
    line-height: 1;
  }

  .hw-md_stud-work__date-wrap,
  .hw-md_single_stud-work__date-download {
    font-size: 0.8rem;
    // color: lighten(color.$dark, 20%);
    opacity: 0.3;
    transition: opacity 0.7s;
  }
  .hw-md_stud-work__wrap:hover {
    .hw-md_stud-work__date-wrap {
      opacity: 0.7;
    }
  }
  .hw-md_single_stud-work__outer:hover {
    .hw-md_single_stud-work__date-download {
      opacity: 0.7;
    }
  }

  .hw-md_single__back {
    display: inline-flex;
  }
}

body {
  .hw-md_single__btn-wrap .hw-md_single__btn span {
    padding: 0;
    font-size: 1rem;
  }
  .hw-md_single .btn span {
    // background-color: color.$primary;
    background-color: transparent;
  }

  .hw-md_single__btn-wrap md-dialog .btn {
    background-color: color.$primary !important;
  }

  .hw-md_single__btn-wrap button.hw-md_single__btn-decline.md-ink-ripple:hover {
    background-color: color.$red-hover;
    color: #fff;
    cursor: help;
  }

  .hw-md_single__select-mark .md-button {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 0;
  }

  .hw-md_single__select-mark .md-checked .md-button {
    background-color: color.$primary;
    border-color: color.$primary;

    &:hover {
      background-color: color.$primary-hover;
    }
  }

  md-radio-button {
    transition: background-color 0.3s;
  }

  md-radio-button:hover {
    background-color: color.$secondary-alt-hover;

    &:first-child {
      border-top-left-radius: style.$border-radius;
      border-bottom-left-radius: style.$border-radius;
    }
    &:last-child {
      border-top-right-radius: style.$border-radius;
      border-bottom-right-radius: style.$border-radius;
    }
  }

  .hw-md_single__select-mark md-radio-button .md-button {
    border: 1px solid color.$secondary;
    border-right: none;
  }

  .hw-md_single__select-mark md-radio-button:first-child .md-button {
    border-top-left-radius: style.$border-radius;
    border-bottom-left-radius: style.$border-radius;
  }

  .hw-md_single__select-mark md-radio-button:last-child .md-button {
    border-top-right-radius: style.$border-radius;
    border-bottom-right-radius: style.$border-radius;
    border-right: 1px solid color.$secondary;
  }

  .hw-md_single_teacher__file-wrap label.flex-center {
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }

  .hw-md_single__add-mark,
  .hw-md_single__add-comment {
    user-select: none;
  }
}

body md-dialog.hw-md_single,
body md-dialog.hw-md {
  .btn {
    // background-color: color.$primary !important;
    // &:hover {
    //   background-color: color.$primary-hover !important;
    // }
    @include include.button-primary;
  }
}

body .hw-md_content,
body .hw-md_single__content {
  br {
    display: none;
  }
}

#zip-entries-table {
  width: 100%;
}

#zip-entries-table thead {
  background-color: #fff;

  th {
    color: color.$dark;
    text-align: left !important;
    border-bottom: 0.05rem solid #dadee4;
    border-bottom-width: 0.1rem;
    padding: 0.6rem 0.4rem;
    width: auto;
    height: auto;
    font-weight: 700;
  }
}
#zip-entries-table tbody {
  td {
    text-align: left !important;
    border-bottom: 0.05rem solid #dadee4;
    padding: 0.6rem 0.4rem;
    height: auto;
    // text-transform: lowercase;

    // &:first-child::before {
    //   display: none;
    // }
  }
  tr:hover {
    background-color: rgb(255, 249, 196);
    cursor: pointer;
  }
}

#zip-entries-table .zip-entry-filename {
  font-weight: 400;
  color: color.$dark;
  span {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    // color: #66758c;
    // color: rgb(182, 182, 182);
    opacity: 0.4;
    font-weight: 300;
  }
  strong {
    font-weight: 600;
    span {
      margin: 0;
      font-weight: 500;
      opacity: 0.7;
    }
  }
}

.btn-modal-zip-back {
  background-color: #fff;
  color: color.$dark;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  // padding: 0.5rem;
  // border-radius: style.$border-radius;
  border-radius: 1rem;
  // margin-top: 1rem;
  text-decoration: none;

  display: flex;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  user-select: none;

  svg {
    width: 1.25rem !important;
    height: 1.25rem !important;
    margin-top: -0.1rem;
  }
  svg path {
    fill: color.$dark;
  }

  span {
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: color.$secondary-alt-hover;
  }
}

.homework-copy-url-to-clipboard {
  user-select: none;
  float: right;
  padding: 1rem;
  border-radius: 100%;
  margin-top: -1rem;
  margin-right: -1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background: color.$secondary;
  }
  &:active,
  &:focus {
    transition: background-color 0.125s;
    background: color.$primary-hover;
  }
}

.added-autocomplete-wrap {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2px;

  box-sizing: border-box;
  width: 100%;
  // background: color.$yellow-hover;
  // background-color: lighten(color.$yellow-hover, 7%);
  background: transparent;

  height: 45px;
  user-select: none;
  padding: 0 1rem;
  overflow-x: auto;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  // border: 1px solid rgba(0, 0, 0, 0.15);
  // border-top-color: color.$yellow-hover;
  z-index: 2;

  &.added-autocomplete-wrap-active {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0.25rem;
  }

  &:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 120px;
    height: 20px;
    background-color: #fdfdfd;
    bottom: 10px;
    left: 10px;
  }

  // hide the label below
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 20px;
    background-color: #fdfdfd;
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }
}

.added-autocomplete-answer {
  display: inline-flex;
  align-items: center;
  background-color: #eef0f3;
  // background-color: color.$inputs;
  color: color.$dark;
  // background-color: #fff;
  border-radius: 5rem;
  font-size: 90%;
  height: 1.2rem;
  line-height: 0.8rem;
  margin: 0.1rem;
  max-width: 320px;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;

  &.added-autocomplete-wrap-active {
    display: inline-flex;
  }

  &:hover {
    background: rgba(color.$primary, 10%);
  }
  &:focus,
  &:active,
  .active {
    // box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
    box-shadow: 0 0 0 0.1rem rgba(color.$primary, 0.8);
  }
}

.added-autocomplete-close {
  display: inline-flex;
  align-items: center;
  // background-color: #eef0f3;
  // background-color: color.$inputs;
  color: color.$dark;
  // background-color: #fff;
  border-radius: 5rem;
  font-size: 90%;
  height: 1.2rem;
  width: 1.2rem;
  line-height: 0.8rem;
  margin: 0.1rem;
  max-width: 320px;
  overflow: hidden;
  padding: 0.4rem;
  text-decoration: none;
  vertical-align: middle;
  z-index: 2;

  cursor: pointer;
  transition: background-color 0.3s;

  position: relative;
  justify-self: flex-end;
  margin-left: auto; // pushes to the end

  &.added-autocomplete-wrap-active {
    display: inline-flex;
  }

  &:hover {
    // background: rgba(color.$primary, 10%);
    background-color: color.$red-hover;
    color: #fff;
  }
  &:focus,
  &:active,
  .active {
    // box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
    box-shadow: 0 0 0 0.1rem rgba(color.$primary, 0.8);
  }

  &:before {
    content: "✕";
    display: inline-block;
    position: absolute;
    margin-left: 0.25rem;
  }
}

.added-autocomplete-info {
  @include include.add-text-underline-dotted;
}

// TODO: show after javascript rework?
.hw-md_single_teacher__file-count {
  // opacity: 0;
}
