@use "abstracts/color";
@use "abstracts/style";

// TODO: colors to abstracts

html main.content .presents {
  padding: 3rem;
  margin: 0;

  .add-material {
    float: none;
    margin: 0;
    width: auto;
    // margin-top: -3rem;
    height: 2rem;
    display: inline-block;
    margin-bottom: 1rem !important;
  }

  // no more uppercase
  .add-materials-btns {
    // margin-top: 1rem;
    // margin-top: -2rem;
    margin-top: 0;
    display: inline-block;
    width: auto;
    height: 2rem;
    padding: 0 !important;

    a {
      text-transform: initial;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1rem;
      float: none;
      font-weight: 300;
      border: style.$border-radius;
      line-height: 2rem !important;
      height: 2rem !important;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  .topPanel .interna-wrap {
    padding: 0;
    padding-top: 2rem;
  }
  .topPanel {
    text-align: left;
    padding: 0;
    margin-bottom: 1rem;

    .paddingLeft {
      font-size: 1.5rem;
      color: color.$text;
    }

    .font-for-apple {
      font-family: inherit;
      font-variant: initial;
    }
  }

  .dialog-demo-content button,
  .set-date button {
    width: auto;
  }

  ul.pars {
    height: 3rem;
    margin: 0;
    margin-bottom: 3rem !important;

    // test
    display: inline-flex;
    vertical-align: middle;

    li {
      margin-right: 0;
    }
  }

  .pars li,
  .groups li {
    padding: 0;
    width: auto;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .pars li a,
  .groups li a {
    background-color: #fff;
    color: color.$primary !important;
    border: 0.05rem solid color.$primary !important;
    border-radius: style.$border-radius;
  }

  .pars li:not(:last-child) > a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
  }

  .pars li:not(:first-child) > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .pars li:not(:first-child) {
    margin-left: -1px;
  }

  .pars li.active a,
  .groups li.active a {
    background-color: color.$primary !important;
    border: 0.05rem solid color.$primary !important;
    color: #fff !important;
  }

  // opravuje chybu, kdy se "zaškrtne" i když není studentů
  .pars li[class="tab                                          active"] a {
    background-color: #fff !important;
    color: color.$primary !important;
    border: 0.05rem solid color.$primary !important;
    border-right-width: 0 !important;
  }

  .group {
    color: color.$text;

    .groupName {
      font-weight: 500;
    }

    .specName {
      margin-left: 1rem;
    }
  }

  .dialog-demo-content button,
  .set-date button {
    text-transform: initial;
    font-weight: 400;
    padding: 0.4rem 0.6rem;
  }

  .table-wrapper {
    padding: 0 !important;
  }

  .interna-wrap {
    padding: 0;
  }

  .teacherInit {
    // margin-bottom: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    max-width: 600px;

    .check-techers-wrap {
      float: none;

      .check-techers p {
        margin: 0 !important;
        margin-right: 1rem !important;

        input {
          margin-right: -1rem;
        }

        label {
          padding-left: 1.5rem;
        }

        label:before {
          border-color: color.$primary !important;
          width: 1rem;
          height: 1rem;
          border-radius: 1rem;
        }

        input:checked + label:before {
          // width: 1rem;
          // height: 1rem;
          // border-radius: 1rem;
          background-color: color.$primary !important;
        }

        label:after {
          display: none;
        }
      }
    }
    .teacherTextarea {
      float: none;
      width: auto;
      // margin-top: 4rem;
      margin-top: 3rem;
      padding: 0;

      .theme-label {
        padding-right: 0;
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
      }

      .textarea-wrap {
        float: none;
        width: auto;
        margin-bottom: 0.5rem;
      }

      .button-wrap {
        padding: 0;
        width: auto;
        float: none;
        display: flex;
        gap: 0.5rem;

        .buttons {
          padding: 0;
          width: auto;
          float: none;

          .md-button {
            width: fit-content;
            font-weight: 300;
            border-radius: style.$border-radius;
            line-height: 2rem !important;
            height: 2rem !important;
            min-width: auto;
            padding-left: 1rem;
            padding-right: 1rem;
          }

          &:last-child {
            .md-button {
              background-color: #fff !important;
              color: color.$primary !important;
              border: 1px solid color.$primary !important;
            }
          }
        }
      }

      textarea#theme {
        height: 3rem;
        padding: 0.25rem 0.4rem;
        border: 0.05rem solid #bcc3ce;
        border-radius: 0.1rem;
        transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;

        &:focus {
          border-color: color.$primary !important;
          box-shadow: 0 0 0 0.1rem rgba(color.$primary, 0.2);
          // color: color.$primary !important;
        }
      }
    }
  }

  .lesson-theme {
    font-size: 1rem;
    line-height: 1.5;
    font-style: initial;
    font-weight: 600;
  }

  .wrapper-students thead {
    position: sticky;
    top: 3rem;
    z-index: 2;

    &:after {
      display: block;
      content: "";
      width: 100vw;
      height: 5rem;
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      position: absolute;
      left: -3rem;
      bottom: 2px;
      z-index: -1;
    }

    // hide th after 8 items (cuz its sometimes buggy)
    th:nth-of-type(1n + 8) {
      display: none;
    }

    .table tr[data-ng-animate] td {
      display: none;
    }

    tr {
      opacity: 0;
      animation: 0.2s linear 0.2s 1 normal forwards running fadeIn;
    }

    .selector_students,
    .diamonds,
    .diamond {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .diamond {
      font-size: 1rem;

      &:after {
        width: 1.5rem;
        height: 1.5rem;
        top: 0;
        left: 0;
        margin-left: 1rem;
      }
    }
  }

  .table {
    .comment {
      min-width: 250px;
      max-width: 250px;
    }
  }

  .table tr {
    border-bottom: 0;
  }

  .table tr.ng-animate,
  .table tr[data-ng-animate] {
    display: none;
  }

  .table tbody tr {
    border-bottom: 0;
    transition: background-color 0.225s ease;

    &:nth-of-type(odd) {
      background-color: #f8f8f6;
    }

    // hide parts when not hovering
    md-select {
      border-color: transparent;
      transition: border-color 0.225s ease;

      .md-select-icon {
        opacity: 0;
      }

      .md-select-value {
        user-select: none;
        pointer-events: none;
      }
    }

    .awarded span {
      opacity: 1;
      background-image: none;
    }

    .awarded span:last-child i:first-child {
      opacity: 0;
    }

    .comment {
      opacity: 0;
    }

    &:hover {
      background-color: color.$yellow-hover;

      md-select .md-select-icon {
        opacity: 1;
      }

      .presentr-controlWork {
        md-select[data-md-container-class="selectdemoSelectHeader violet"] {
          border-color: rgba(176, 154, 218, 0.2);
        }

        &:hover {
          md-select[data-md-container-class="selectdemoSelectHeader violet"] {
            border-color: rgba(176, 154, 218, 1);
          }
        }
      }

      .presentr-classWork {
        md-select[data-md-container-class="selectdemoSelectHeader green"] {
          border-color: rgba(185, 216, 129, 0.2);
        }

        &:hover {
          md-select[data-md-container-class="selectdemoSelectHeader green"] {
            border-color: rgba(185, 216, 129, 1);
          }
        }
      }

      .awarded span:not(:last-child) {
        opacity: 1;
        background-image: url("https://logbook.itstep.org/img/kristall_grey.svg");
      }

      .awarded:hover span:last-child i:first-child {
        opacity: 1;
      }

      .awarded span:last-child i:first-child {
        opacity: 0.2;
      }

      .comment {
        opacity: 1;
      }
    }
  }

  .table td,
  .table th {
    min-height: 1rem;
    padding: 1rem !important;
    opacity: 0;
    animation: 0.2s linear 0s 1 normal forwards running fadeIn;
  }

  .table td.name {
    font-weight: 700;
  }

  .table > thead > tr > th {
    // background: #fff; -> řeší se přes ::after
    background-color: transparent;
    color: color.$text;

    // kvůli mystatu - dlouhý název
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    span {
      text-transform: initial;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .number__presents {
    width: auto;
  }

  .table .number .user-photo__presents {
    left: 3rem;
    height: 2rem;
    width: 2rem;
    margin-top: -1rem;

    span {
      top: 100%;
      left: 100%;
    }
  }
  .selector_students .ng-binding {
    display: inline-block;
  }

  .table td.presents {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    grid-gap: 1rem;
    height: 3rem; // todo: can it be without?
  }

  // dots
  .presents span {
    margin: 0 !important;

    i:before {
      width: 1rem;
      height: 1rem;
    }
  }

  .presents span:nth-child(2) i {
    border-color: #fdd835; // yellow
  }

  .presents .was-late {
    border-color: #fdd835;
    background-color: #fdd835;
  }

  .button-wrap .buttons .md-button {
    text-transform: lowercase;
    font-size: 1rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .dialog-demo-content button,
  .set-date button {
    background-color: color.$primary !important;
    color: #fff;
  }

  @media (max-width: 1300px) {
    // top side
    .teacherInit {
      margin-bottom: 1rem;
    }

    .teacherInit .check-techers-wrap {
      margin-bottom: 1rem;
    }

    .teacherInit .teacherTextarea {
      margin-top: 0;
    }

    .check-techers {
      margin-top: 0;
    }

    .lesson-theme {
      margin-top: 0;
    }

    .selector_students,
    .diamonds,
    .diamond {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1rem;
      height: 1.5rem;
    }

    .diamond {
      font-size: 1rem;

      &:after {
        width: 1.4rem;
        height: 1.4rem;
        top: 0;
        left: 0;
        margin-left: 0.8rem;
      }
    }

    .wrapper-students thead {
      background-color: #fff;
    }

    // bottom side
    .wrapper-students table.table thead tr {
      display: flex;
    }

    .wrapper-students table.table tbody tr {
      display: grid;
      grid-template-columns: 2rem 1fr 1fr 2rem;
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "icon name name name"
        "mystat mystat mystat mystat"
        "presence presence presence presence"
        "tests tests tests tests"
        "score score score score"
        "diamonds diamonds diamonds diamonds"
        "comment comment comment comment";
      padding: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;

      td {
        height: auto;
        min-width: auto;
        max-width: none;

        min-height: auto;
        max-height: none;

        float: none;
        padding: 0 !important;
        margin: 0;
      }
    }

    .wrapper-students table.table tr.presents_stud {
      border: none;

      &:nth-of-type(2n + 1):not(:hover) {
        background-color: #fff;
      }

      .number {
        grid-area: icon;
        min-width: auto !important;
      }

      .number .user-photo span {
        margin-top: 0;
      }

      .number .user-photo span img {
        width: 2rem;
        height: 2rem;
      }

      .number .user-photo__presents {
        margin: 0;
      }

      .name {
        grid-area: name;
        grid-column: 2 / 6;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem !important;
      }

      .mystat {
        grid-area: mystat;
        grid-column: 1 / 6;
        margin-bottom: 1rem;
        margin-top: 1rem;

        &.critical_deptor {
          color: inherit;
        }
      }

      .presents {
        grid-area: presence;
        grid-column: 1 / 6;

        justify-content: flex-start;

        margin-bottom: 1rem;
      }

      .presentr-controlWork {
        grid-area: tests;
        grid-column: 1 / 6;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        div {
          display: inline;
        }
      }

      .presentr-classWork {
        grid-area: score;
        grid-column: 1 / 6;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        div {
          display: inline;
        }
      }

      .awarded {
        grid-area: diamonds;
        grid-column: 1 / 6;
        width: 100%;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }

      .comment {
        grid-area: comment;
        grid-column: 1 / 6;
      }
    }
  }

  @media (max-width: 880px) {
    .select_pair .md-ink-ripple {
      background-color: color.$primary;
      margin: 0;
    }

    md-menu {
      line-height: inherit;
      margin-bottom: 1rem;
      display: inline-block;
    }
  }

  @media (max-width: 650px) {
    .wrapper-students table.table tbody {
      justify-content: flex-start;
    }
  }
} // end of presents
